.blog,
.tmpl_type_category,
.tmpl_type_archive {
	h2 {
		margin-top: 0;
		margin-bottom: 0;
		@include media($desktop) {
			@include font(40px, 120%);
		}
		a {
			text-decoration: none;
			color: $darkColor;
		}
	}
	.content {
		@include media($tablet) {
			display: flex;
			justify-content: space-between;
		}
	}
	.post-snippet {
		padding-bottom: 60px;
		margin-bottom: 0px;
		@include media($tablet) {
			width: 30%;

		}
		.thumb {
			@include media($tablet) {
				margin-bottom: 20px;
			}
			img {
				width: 100%;
				height: auto;
			}
		}
		.excerpt {
			display: block;
			position: relative;
			@include media($desktop) {
			}
			h2 {

				font-size: 28px;
				line-height: 38px;
				color: $secondaryAlt;
				margin-bottom: 50px;

			
			}
			p {
				margin-top: 0;
			}
		}
		.the-time {
			position: absolute;
			top: -90px;
			left: 20px;
			border-radius: 6px;
			width: 50px;
			height: 50px;
			background: $primaryColor;
			color: #fff;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-top: 8px;
			font-size: 14px;
			line-height: 16px;
			.the-date {
				font-size: 20px;
			}
		}
		.the-cat {
			// border: 1px solid pink;
			font-size: 20px;
			a {
				text-decoration: none;
				color: #126ABF;
				font-family: $secondaryFont;

			}
			position: relative;
			&:before {
				content: '';
				background: #82B0E2;
				width: 160px;
				height: 1px;
				position: absolute;
				top: -30px;
				left: calc(50% - 60px;)
			}
			&:after {
				content: '';
				background: #82B0E2;
				width: 80px;
				height: 1px;
				position: absolute;
				top: -20px;
				left: calc(50% - 20px;)
			}

		}
	}
	.date {
		@include font(21px);
		text-transform: uppercase;
		color: $primaryColor;
		text-align: right;
		margin-bottom: 16px;
	}
	.meta-data {

		@include font(13px);
		margin-bottom: 10px;
		font-style: italic;
		color: $tertiaryAlt;
		a {
			color: $tertiaryAlt;
		}
	}
	.button {
		text-decoration: none;
	}
}

.tmpl_type_single {
	.content {
		// margin-top: -80px;
	}
	h1 {
		color: $secondaryAlt;
		position: relative;
		@include media($tablet) {
			font-size: 50px;
			// margin-top: 40px;
			padding-top: 20px;
			margin-bottom: 100px;
			// padding-bottom: 40px;
		}
		&:before {
			content: '';
			background: #82B0E2;
			width: 160px;
			height: 1px;
			position: absolute;
			top: 120px;
			left: 0;
		}
		&:after {
			content: '';
			background: #82B0E2;
			width: 90px;
			height: 1px;
			position: absolute;
			top: 130px;
			left: 0;
		}
	}
	.meta-data {
		position: relative;
		top: -30px;
		@include font(14px);
		// margin-bottom: 10px;
		font-style: normal;
		color: $secondaryColor;
		span {
			color: $primaryColor;
		}
	}

	.the-time {
		float: left;
		margin-right: 40px;
		border-radius: 6px;
		width: 50px;
		height: 50px;
		background: $primaryColor;
		color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 8px;
		font-size: 14px;
		line-height: 16px;
		.the-date {
			font-size: 20px;
		}
	}
	.the-cat {
		font-family: $secondaryFont;
		a {
			text-decoration: none;
		}
	}
	.the-content {
		clear: both;
		margin-top: 80px;
	}
	.button {
		margin-top: 80px;
		text-decoration: none;
	}
}


.search-bar {

	background-color: #F8FBFD;
	margin-top: -20px;
	margin-bottom: 20px;
	@include media($tablet) {
		margin-top: -40px;
		// border: 1px solid pink;
		display: flex;
		justify-content: space-between;
	}
	form {
		// min-width: 600px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		// border: 1px solid pink;
	}
	label {
		margin-right: 15px;
		display: none;
		@include media($desktop) {
			display: block;
			font-size: 22px;
			line-height: 20px;
			font-family: $secondaryFont;
		}
	}
	.search-input {
		border: none;
		background: transparent;
		margin-right: 10px;
		border-radius: 10px;
		border-radius: 0;
		border-bottom: 1px solid $secondaryColor;
		width: 100%;
		@include media($desktop) {
			width: 250px;
		}
	}
	.button {
		text-transform: uppercase;
	}
}
.cat-select {
	position: relative;
	// max-width: 250px;
	// border: 1px solid pink;
	.cat-options {
		cursor: pointer;
		background: transparent;
		// border-radius: 50px;
		// font-size: 18px;
		text-transform: uppercase;
		color: $primaryColor;
		padding: 12px 40px;

		margin-bottom: 10px;
		// border: 1px solid pink;

		@include iconafter('images/svg/arrow-down.svg', $width: 19px, $height: 30px, $paddingRight: 90px, $bottom: 14px, $right: 30px );
		@include media($tablet) {
			margin-bottom: 0;
		}
		&:after {
			// transform: rotate(90deg);
		}
	}
	.cats {
		// border-radius: 50px;
		// border: 1px solid pink;
		position: absolute;
		display: none;
		width: 250px;
		z-index: 100;
		// background: lighten($primaryColor, 0%);
		background: #F8FBFD;
		border: 1px solid darken(#F8FBFD, 10%);
		margin: 0;
		list-style: none;
		padding: 10px;
		margin-top: -10px;
		text-align: left;
		@include media($tablet) {
			margin-top: 0;
		}
		li {
			padding: 5px 20px;
			a {
				color:$primaryColor;
				text-transform: uppercase;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}




