.blog,
.tmpl_type_category,
.tmpl_type_archive {
	h2 {
		margin-top: 0;
		margin-bottom: 0;
		@include media($desktop) {
			@include font(40px, 120%);
		}
		a {
			text-decoration: none;
			color: $darkColor;
		}
	}
	.content {
		@include media($tablet) {
			display: flex;
			justify-content: space-between;
		}
	}
	.post-snippet {
		padding-bottom: 60px;
		margin-bottom: 0px;
		@include media($tablet) {
			width: 30%;

		}
		.thumb {
			@include media($tablet) {
				margin-bottom: 20px;
			}
			img {
				width: 100%;
				height: auto;
			}
		}
		.excerpt {
			display: block;
			position: relative;
			@include media($desktop) {
			}
			h2 {

				font-size: 28px;
				line-height: 38px;
				color: $secondaryAlt;
				margin-bottom: 50px;

			
			}
			p {
				margin-top: 0;
			}
		}
		.the-time {
			position: absolute;
			top: -90px;
			left: 20px;
			border-radius: 6px;
			width: 50px;
			height: 50px;
			background: $primaryColor;
			color: #fff;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-top: 8px;
			font-size: 14px;
			line-height: 16px;
			.the-date {
				font-size: 20px;
			}
		}
		.the-cat {
			// border: 1px solid pink;
			font-size: 20px;
			a {
				text-decoration: none;
				color: #126ABF;
				font-family: $secondaryFont;

			}
			position: relative;
			&:before {
				content: '';
				background: #82B0E2;
				width: 160px;
				height: 1px;
				position: absolute;
				top: -30px;
				left: calc(50% - 60px;)
			}
			&:after {
				content: '';
				background: #82B0E2;
				width: 80px;
				height: 1px;
				position: absolute;
				top: -20px;
				left: calc(50% - 20px;)
			}

		}
	}
	.date {
		@include font(21px);
		text-transform: uppercase;
		color: $primaryColor;
		text-align: right;
		margin-bottom: 16px;
	}
	.meta-data {
		@include font(13px);
		margin-bottom: 10px;
		font-style: italic;
		color: $tertiaryAlt;
		a {
			color: $tertiaryAlt;
		}
	}
	.button {
		text-decoration: none;
	}
}

.tmpl_type_single {
	.content {
		margin-top: -80px;
	}
	h1 {
		color: $secondaryAlt;
		position: relative;
		@include media($tablet) {
			font-size: 50px;
			// margin-top: 40px;
			padding-top: 20px;
			margin-bottom: 100px;
			// padding-bottom: 40px;
		}
		&:before {
			content: '';
			background: #82B0E2;
			width: 160px;
			height: 1px;
			position: absolute;
			top: 120px;
			left: 0;
		}
		&:after {
			content: '';
			background: #82B0E2;
			width: 90px;
			height: 1px;
			position: absolute;
			top: 130px;
			left: 0;
		}
	}
	.meta-data {
		@include font(14px);
		// margin-bottom: 10px;
		font-style: normal;
		color: $secondaryColor;
		span {
			color: $primaryColor;
		}
	}

	.the-time {
		float: left;
		margin-right: 40px;
		border-radius: 6px;
		width: 50px;
		height: 50px;
		background: $primaryColor;
		color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 8px;
		font-size: 14px;
		line-height: 16px;
		.the-date {
			font-size: 20px;
		}
	}
	.the-cat {
		font-family: $secondaryFont;
		a {
			text-decoration: none;
		}
	}
	.the-content {
		clear: both;
		margin-top: 80px;
	}
	.button {
		margin-top: 80px;
		text-decoration: none;
	}
}


.search-bar {
	margin-top: -20px;
	background-color: #F8FBFD;
	@include media($tablet) {
		display: flex;
		justify-content: space-between;
	}
	form {
		display: flex;
	}
	.search-input {
		border: 1px solid #dfdfdf;
		background: rgba(#fff, 1);
		margin-right: 10px;
		border-radius: 10px;
		}
}
.cat-select {
	position: relative;
	.cat-options {
		cursor: pointer;
		background: $primaryColor;
		border-radius: 50px;
		font-size: 18px;
		// height: 60px;
		color: $lightColor;
		// padding: 17px 44px;
		  padding: 12px 40px;

		text-transform: none;
		// display: inline-block;
		margin-bottom: 10px;

		@include iconafter('images/svg/arrow.svg', $width: 19px, $height: 30px, $paddingRight: 90px, $bottom: 14px, $right: 30px );
		@include media($tablet) {
			margin-bottom: 0;
		}
		&:after {
			transform: rotate(90deg);
		}
	}
	.cats {
		border-radius: 50px;

		position: absolute;
		display: none;
		// width: 210px;
		z-index: 100;
		background: lighten($primaryColor, 0%);
		margin: 0;
		list-style: none;
		padding: 10px;
		margin-top: -10px;
		text-align: left;
		@include media($tablet) {
			margin-top: 0;
		}
		li {
			padding: 5px 20px;
			a {
				color:#fff;
				text-transform: uppercase;
				text-decoration: none;
			}
		}
	}
}




