.content {
	width: 100%;
	@include media($desktop) {
		width: calc(100%);
		// width: calc(100% - #{$sidebar});
		// padding-right: 50px;
		padding-bottom: 20px;
	}
}

.site-crumbs {
	text-align: left;
	.salacious-crumb {
		@include font(12px);
		margin: 0 0 36px;
		font-style: normal;
		@include media($tablet) {
			@include font(17px);
		}
		a {
			text-decoration: none;
			color: #fff;
		}
		.crumb-sep {
			color: #fff;
			margin: 0 8px;
		}
		.current-crumb-item {
			color: #fff;
			a {
				color: #fff;
			}
		}
	}
}

.page-title {
	// border: 1px solid pink;
	h1 {
		color: #fff;
	}
}

.interior {
	display: block;
	text-align: left;
	margin-bottom: 40px;
	margin-top: 40px;
	@include media($desktop) {
		display: flex;
	}
	h1 {
	}
	.content {
		h2, h3, h4, h5, h6 {
			color: #565759;
		}
		h2 {
			&:first-child {
				margin-top: 0;
			}
		}
		p {
			&:first-child {
				margin-top: 0;
			}
		}

		ul {
			list-style: none;
			margin: 4em 0px;
			@include media($tablet) {
				margin: 4em 40px;
			}
			li {
				position: relative;
				padding-left: 20px;
				&:before {
					content: "";
					background: $primaryColor;
					font-weight: $bold;
					position: absolute;
					left: 0;
					top: 0.75em;
					width: 8px;
					height: 8px;
					border-radius: 50%;
				}
			}
		}
		ol {
			counter-reset: item;
			margin: 4em 0px;
			@include media($tablet) {
				margin: 4em 40px;
			}
			> li {
				display: block;
				margin-left: 0;
				&:before {
					content: counter(item) ". ";
					counter-increment: item;
					color: $primaryColor;
				}
			}
		}

			
		blockquote {
			@include font(22px, 2.2em);
			position: relative;
			margin: 0;
			font-family: $highlightFont;
			text-align: center;
			padding: 180px 20px 80px 20px;
			background: #F8FBFD url('images/icon-quote.svg') top center no-repeat;
			background-position-y: 20px;
			margin-top: 60px;
			margin-bottom: 40px;
			@include media($tablet) {
				margin-top: 100px;
				margin-bottom: 40px;
				padding: 190px 40px 120px 40px;
			}
			p, cite {
				max-width: 900px;
				margin: 0 auto;
				color: #2F2F2F;
			}
			cite {
				font-style: normal;
				margin-top: 40px;
				display: block;
				font-size: 1.3em;
			}
		}
		blockquote.stars {
			background: #F8FBFD url('images/icon-stars.svg') top center no-repeat;
			background-position-y: 90px;
	
		}

		.memberships-sc-wrap {
			svg {
				height: 200px;
				width: auto;
			}
		}
	} // End Content

	.full-width {
		position: relative;
		width: 100vw;
		left: -20px;
		@include media($desktop) {
		left: -40px;
			// left: calc(((40px + (50vw - (#{$desktop} / 2)))) * -1);
		}
		@include media($full) {
			left: calc(((40px + (50vw - (#{$full} / 2)))) * -1);
		}
	}

	.gallery-columns-0 {
		@include media($tablet) {
			display: flex !important;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		.gallery-item {
			@include media($tablet) {
				width: 48% !important;
			}
			@include media($desktop) {
				width: 32% !important;
			}
			img {
				width: 100%;
				height: auto;
			}
		}
	}

	/* Guttenber Overrides */
	.wp-block-columns.full-width {
		.wp-block-column:first-child  {
			background: #F8FBFD;
			// display: flex;
			// align-items: center;
			// padding-top: 40px;
			// padding-bottom: 40px;
			padding: 40px 20px;
			@include media($desktop) {
			padding: 100px 40px;
				p {
					margin: 0 auto;
					max-width: 600px;
					padding-bottom: 20px;

				}
			}
		}

	}

	.wp-block-column:not(:first-child)  {
		margin-left: 0;
	}

	/* Cover with Background Image*/

	.wp-block-cover.full-width {
		height: auto;
	}
	.wp-block-cover {
		margin-bottom: 80px;
		padding-top: 60px;
		padding-bottom: 60px;
		@include media($tablet) {
			padding-top: 100px;
			padding-bottom: 100px;
		}
		h2, h3, h4, h5, h6 {
			color: #fff;
		}
		.wp-block-cover__inner-container {
			max-width: $ogFull;

		}
	}


} // End Interior

/*=================================================
=            Wordpress Default Gallery            =
=================================================*/

.gallery-size-medium {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.gallery-item {
		float: none !important;
		margin-right: 5px;
		margin-left: 5px;
		width: 45% !important;
		@include media($tablet) {
			margin-right: 10px;
			margin-left: 10px;
			width: 19% !important;
		}
		img {
			border: none !important;
			width: 100%;
			height: auto;
		}
	}
}