
.footer-map {
	margin: 0 auto;
	width: 82vw;
	height: 82vw;
	border-radius: 50px;
	box-shadow:0px 20px 30px rgba(#000, .2);
	position: relative;
	z-index: 1000;
	background-color: grey;
}

.f-locations {
	padding-left: 20px;
	margin-bottom: 40px;
	background: #fff;
	// border: 1px solid pink;
	text-align: left;
	list-style: none;
	// padding-left: 20px;
	li {
		padding-left: 70px;
		div > div {
			margin-bottom: 15px;
		}
	}
	a {
		color: $secondaryColor;
		text-decoration: none;
		font-size: 20px;
	}
	.phone, .tag {
		color: $primaryColor;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 25px;
		a {
			color: $primaryColor;
		}
	}
}

.f-social {
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
	a {
		text-align: left;
		text-decoration: none;
		color: $secondaryColor;
		display: flex;
		align-items: center;
		margin-bottom: 10px

	}
	span {
		padding-left: 35px;
		font-size: 15px;
	}
	i {	
		width: 40px;
		height: 40px;
		font-size: 38px;
		position: relative;
	}
	.fa-facebook-f {
		left: 10px;
		font-size: 35px;
	}
	.fa-instagram {
		left: 4px;
		font-size: 40px;

	}
}


.lower-footer {
	@include font(18px);
	line-height: 28px;
	position: relative;
	padding-top: 70vw;
	padding-bottom: 150px;
	background: $primaryColor;
	color: $lightColor;

	@include media($desktop) {
		padding-bottom: 150px;
	}
	a {
		color: $lightColor;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	.rm-sig {
		padding-top: 20px;
		svg {
			margin-left: 8px;
			path {
				fill: $lightColor;
			}
		}
	}
}

/*===========================================
=            Footer Contact Form            =
===========================================*/

.footer-contact-form {
	form {
		margin-bottom: 40px;
		@include media($tablet) {
			margin-bottom: 80px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		.field-wrap {
			@include media($tablet) {
				width: 49%;
			}
		}
		.type-textarea {
			width: 100%;
		}
		.disclaimer {
			width: 100%;
			margin-bottom: 20px;
			text-align: center;
		}
		.type-submitbutton {
			width: 100%;
			text-align: center;
		}
	}
}

/*=====  End of Footer Contact Form  ======*/


/*======================================
=            Sticky Contact            =
======================================*/
.sticky-contact {
	display: none;
	@include media($desktop) {
		padding-top: 10px;
		padding-bottom: 10px;
		bottom: -200px;
		transition: bottom 0.3s linear;
		position: fixed;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 100;
		background: $darkGray;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	@include media(1400px) {
		@include contain(1400px, 10px);
	}
	&.make-sticky {
		bottom: 0;
	}
	.sticky-heading {
		text-transform: uppercase;
		color: $lightColor;
		@include font(16px, 1.25em, $regular);
		font-family: $secondaryFont;
		@include media($desktop) {
			@include font(18px);
		}
		span {
			color: $primaryColor;
		}
	}
	form.seaforms {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		flex: 1;
		margin-left: 10px;
		.field-wrap {
			margin: 0 5px;
			margin-bottom: 0 !important;
			flex-grow: 1;
			flex-basis: 0;
			height: 40px;
			input {
				height: 40px;
				width: 100%;
			}
			select {
				height: 40px;
			}
			label {
				display: block;
				position: absolute;
				left: -10000px;
				top: auto;
				width: 1px;
				height: 1px;
				overflow: hidden;
			}
		}
		.type-submitbutton {
			margin: 0 0 0 5px;
			flex-grow: 0;
			line-height: 100%;
			input {
				border: 2px solid $primaryColor;
				color: $lightColor;
				background: none;
				transition: all 0.2s;
				&:hover {
					background: $primaryColor;
				}
			}
		}
	}
}
/*=====  End of Sticky Contact  ======*/



